<!DOCTYPE html>
<html>
<head>

    <partial name="_MetaTags" />

    <title>پنل مدیریت | داشبورد اول</title>
    <!-- Tell the browser to be responsive to screen width -->
    <!-- Font Awesome -->
    <partial name="_Styles" />

</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <partial name="_Header" />

        <partial name="_Sidebar" />

        @RenderBody()


        <footer class="main-footer">
            <strong>CopyLeft &copy; 2018 <a href="http://github.com/">آلا طاهرزاده</a>.</strong>
        </footer>

        <aside class="control-sidebar control-sidebar-dark"></aside>

    </div>

    <partial name="_Scripts" />

</body>
</html>


