@using LoginProjectDomain.ViewModels
@model LatestNewsViewModelAdd

<div class="content-wrapper" style="min-height: 782px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>فرم ثبت موضوع جدید</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">خانه</a></li>
                        <li class="breadcrumb-item active">فرم‌های عمومی</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <form asp-action="Add" asp-controller="LatestNewsAdmin" method="post" role="form" class="full-width-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="NewsDate">تاریخ</label>
                    @* <input type="text" asp-for="NewsDate" class="form-control" name="NewsDate" id="NewsDate"> *@
                    <input type="datetime" asp-for="NewsDate" class="form-control">
                    <span asp-validation-for="NewsDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserName">نام کاربر</label>
                    <input type="text" asp-for="UserName" class=" form-control">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Title">عنوان خبر</label>
                    <input type="text" asp-for="Title" class="form-control">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewsTextSummary">متن خبر</label>
                    <input type="text" asp-for="NewsTextSummary" class="form-control">
                    <span asp-validation-for="NewsTextSummary" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NewsText">خلاصه خبر</label>
                    @* <input type="text" asp-for="NewsText" class="form-control"> *@
                    <textarea name="NewsText" asp-for="NewsText" class="form-control">@Model.NewsText</textarea>
                    <span asp-validation-for="NewsText" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Image">آیکون</label>
                    <select asp-for="Image" class="form-control" aria-label="Select Icon">
                        <option value="" disabled selected>انتخاب تصویر</option>
                        <option value="img-1.jpg">img-1</option>
                        <option value="img-2.jpg">img-2</option>
                        <option value="img-3.jpg">img-3</option>


                    </select>
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">ذخیره تغییرات</button>
                </div>
            </form>
        </div>
    </section>
    <!-- /.content -->
    @section scripts
    {
        @* <script src="~/AdminTheme/ckeditor/ckeditor.js"></script> *@
        <script src="https://cdn.ckeditor.com/ckeditor5/41.3.1/classic/ckeditor.js"></script>

        <script>
            ClassicEditor
                .create(document.querySelector('#NewsText'))
                .catch(error => {
                    console.error(error);
                });
        </script>
    }
